In [48]:
import gspread 
from df2gspread import df2gspread as d2g
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

In [49]:
# Specify path to your file with credentials
path_to_credential = './glassy-vial-424214-h2-f489e8466291.json'
table_name = 'students'

In [50]:
scope =['https://spreadsheets.google.com/feeds',
        'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credential, scope)

In [51]:
gs = gspread.authorize(credentials)
work_sheet = gs.open(table_name)

In [52]:

# Select 1st sheet
sheet1 = work_sheet.sheet1

In [53]:
# Get data in python lists format
data = sheet1.get_all_values()

In [54]:
# Get header from data
header = data.pop(0)

In [55]:
# Create df
df = pd.DataFrame(data, columns = header)

In [56]:
df

    name    surname age
0    Ali     Sultan  22
1  Enver       Kaya  33
2   Olya  Sniyakova  26
3   Olya  Sniyakova  26
4   Olya  Sniyakova  26
5   Olya  Sniyakova  26
6   Olya  Sniyakova  26
7   Olya  Sniyakova  26

In [57]:
sheet1.append_row(['Olya','Sniyakova','26'])

{'spreadsheetId': '1Tbo1mmROF_mQbGLUHjNINXnQRl74DsgvuGc6j1eTgNc',
 'tableRange': "'Лист1'!A1:C9",
 'updates': {'spreadsheetId': '1Tbo1mmROF_mQbGLUHjNINXnQRl74DsgvuGc6j1eTgNc',
  'updatedRange': "'Лист1'!A10:C10",
  'updatedRows': 1,
  'updatedColumns': 3,
  'updatedCells': 3}}

In [58]:
sheet1.spreadsheet

In [59]:
# Create empty table
table_name = "A Sreadsheet"
sheet = gs.create(table_name)
sheet._spreadsheets_get

In [60]:
# Make is visible to other guys
my_mail = 'omar.sultanov.98@gmail.com'
sheet.share(my_mail, perm_type='user', role='writer')

In [61]:
# sheet.values_append(['name','surname'])
# worksheet = sheet.add_worksheet(title="A worksheet", rows=100, cols=20)
table_name

'A Sreadsheet'

In [62]:
sheet = 'master4'

d2g.upload(
    df, 
    gfile='1JGPelh8YJCZgXhyq2aFiwnEmC03s0vHpnD-2xvopp8U', 
    wks_name=sheet, 
    credentials=credentials,
    col_names=True, 
    row_names=True, 
    clean= False, 
    start_cell='A1')

In [63]:
d2g

## Yandex Metrix

In [ ]:
import json