In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('db')

In [60]:
jan = pd.DataFrame({'month':['jan','jan'], 'revenue':[1,2]})
feb = pd.DataFrame({'month':['feb','feb'], 'revenue':[1,4]})

In [61]:
jan.to_sql('jan', con, index=False, if_exists='replace')
feb.to_sql('feb', con, index=False, if_exists='replace')

2

In [62]:
sql = '''select * from jan as j
    union 
    select * from feb as f
    '''

In [63]:
def select(sql):
    return pd.read_sql(sql, con)

In [64]:
select(sql)

  month  revenue
0   feb        1
1   feb        4
2   jan        1
3   jan        2