In [1]:
import pandas as pd

In [2]:
import os

In [3]:
# [i for i in os.listdir('../../') if not i.startswith('.')]

In [4]:
folders = os.listdir('../../')

In [5]:
folders

['.git', 'Python']

In [6]:
for i in folders:
    if not i.startswith('.'):
        print(i)

Python

In [7]:
[i for i in folders if not i.startswith('.')]

['Python']

In [8]:
p = '../../Python/EXAMPLE.txt'

In [9]:
open(p).readlines()

['\n',
 '\n',
 '-----------------------------------------------------------\n',
 'client\tpremium\tage\tsuccess\tplatform\ttime\n',
 '0\t46346\tFalse\t58\tTrue\tphone\t1585452839\n',
 '1\t4391\tFalse\t55\tFalse\tphone\t1585409861\n',
 '2\t27372\tFalse\t64\tFalse\tphone\t1585446018\n',
 '3\t11989\tFalse\t44\tTrue\tcomputer\t1585403698\n',
 '4\t60664\tFalse\t49\tTrue\tphone\t1585406918\n',
 '\n',
 '------------------------------------------------------------\n',
 '3434\t19411\tFalse\t29\tTrue\tphone\t1585400902\n',
 '3435\t61579\tFalse\t50\tTrue\tphone\t1585436158\n',
 '3436\t61221\tTrue\t64\tTrue\tphone\t1585440218\n',
 '3437\t29863\tFalse\t46\tTrue\ttablet\t1585443437\n',
 '3438\t78499\tFalse\t36\tFalse\tphone\t1585425483\n',
 '\n',
 '\n',
 '\n',
 '-------------------------------------------------------------\n',
 '\n',
 'NEW FIRST LINE\n',
 '-------------------------------------------------------------']

In [10]:
x= [1,2,'start',3,4,'end',5,6]

In [11]:
x

[1, 2, 'start', 3, 4, 'end', 5, 6]

In [12]:
y= []
status= False
for i in x:
    if i == 'start':
        status = True
        continue

    if i == 'end':
        status = False

    if status:
        y.append(i)
y

[3, 4]

In [13]:
datalist = []
status= False
for i in open(p).readlines():
    
    if 'NEW FIRST LINE' in i:
        status = False
        continue
        
    if '-----' in i:
        status = True
        continue
        
    if status:    
        i= i.replace('\n','').replace('\t',',')
        if '' == i: continue
        datalist.append([i for i in i.split(',')])
        
datalist

[['client', 'premium', 'age', 'success', 'platform', 'time'],
 ['0', '46346', 'False', '58', 'True', 'phone', '1585452839'],
 ['1', '4391', 'False', '55', 'False', 'phone', '1585409861'],
 ['2', '27372', 'False', '64', 'False', 'phone', '1585446018'],
 ['3', '11989', 'False', '44', 'True', 'computer', '1585403698'],
 ['4', '60664', 'False', '49', 'True', 'phone', '1585406918'],
 ['3434', '19411', 'False', '29', 'True', 'phone', '1585400902'],
 ['3435', '61579', 'False', '50', 'True', 'phone', '1585436158'],
 ['3436', '61221', 'True', '64', 'True', 'phone', '1585440218'],
 ['3437', '29863', 'False', '46', 'True', 'tablet', '1585443437'],
 ['3438', '78499', 'False', '36', 'False', 'phone', '1585425483']]

In [14]:
import pandas as pd

In [15]:
columns_names = datalist[0]

In [16]:
columns_names.insert(0, 'index')

In [17]:
columns_names

['index', 'client', 'premium', 'age', 'success', 'platform', 'time']

In [18]:
df = pd.DataFrame(data = datalist[1:], columns = columns_names)

In [19]:
df

  index client premium age success  platform        time
0     0  46346   False  58    True     phone  1585452839
1     1   4391   False  55   False     phone  1585409861
2     2  27372   False  64   False     phone  1585446018
3     3  11989   False  44    True  computer  1585403698
4     4  60664   False  49    True     phone  1585406918
5  3434  19411   False  29    True     phone  1585400902
6  3435  61579   False  50    True     phone  1585436158
7  3436  61221    True  64    True     phone  1585440218
8  3437  29863   False  46    True    tablet  1585443437
9  3438  78499   False  36   False     phone  1585425483

In [20]:
df.dtypes

index       object
client      object
premium     object
age         object
success     object
platform    object
time        object
dtype: object

In [30]:
df = df.astype({'age':int, 'success':bool, 'platform':str, 'time':int })

In [32]:
df.dtypes

index       object
client      object
premium     object
age          int32
success       bool
platform    object
time         int32
dtype: object

In [46]:
df['time'] = pd.to_datetime(df["time"], unit='s')

In [63]:
df.time.dt.day

0    29
1    28
2    29
3    28
4    28
5    28
6    28
7    29
8    29
9    28
Name: time, dtype: int32

In [74]:
user_df = df[['client', 'success', 'time']]

In [75]:
user_df

  client  success                time
0  46346     True 2020-03-29 03:33:59
1   4391     True 2020-03-28 15:37:41
2  27372     True 2020-03-29 01:40:18
3  11989     True 2020-03-28 13:54:58
4  60664     True 2020-03-28 14:48:38
5  19411     True 2020-03-28 13:08:22
6  61579     True 2020-03-28 22:55:58
7  61221     True 2020-03-29 00:03:38
8  29863     True 2020-03-29 00:57:17
9  78499     True 2020-03-28 19:58:03

In [76]:
user_df.groupby('client', as_index=False)\
    .agg({'success':'sum'})

  client  success
0  11989        1
1  19411        1
2  27372        1
3  29863        1
4   4391        1
5  46346        1
6  60664        1
7  61221        1
8  61579        1
9  78499        1

In [ ]:
# ~ тилда 
# 2 пути - обсалютная и корневая
# os.getcwd()